<div>
    <h2 id="page-heading">
        <span jhiTranslate="swinGiftsApp.giftDrawing.home.title">Gift Drawings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gift-drawing" [routerLink]="['/gift-drawing/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="swinGiftsApp.giftDrawing.home.createLabel">
            Create a new Gift Drawing
            </span>
        </button>
    </h2>
    <swg-alert-error></swg-alert-error>
    <swg-alert></swg-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="giftDrawings?.length === 0">
        <span jhiTranslate="swinGiftsApp.giftDrawing.home.notFound">No giftDrawings found</span>
    </div>
    <div class="table-responsive" *ngIf="giftDrawings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="swinGiftsApp.giftDrawing.recipient">Recipient</span></th>
            <th scope="col" ><span jhiTranslate="swinGiftsApp.giftDrawing.donor">Donor</span></th>
            <th scope="col" ><span jhiTranslate="swinGiftsApp.giftDrawing.event">Event</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let giftDrawing of giftDrawings ;trackBy: trackId">
                <td><a [routerLink]="['/gift-drawing', giftDrawing.id, 'view' ]">{{giftDrawing.id}}</a></td>
                <td>
                    <div *ngIf="giftDrawing.recipient">
                        <a [routerLink]="['/participation', giftDrawing.recipient?.id, 'view' ]" >{{giftDrawing.recipient?.userAlias}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="giftDrawing.donor">
                        <a [routerLink]="['/participation', giftDrawing.donor?.id, 'view' ]" >{{giftDrawing.donor?.userAlias}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="giftDrawing.event">
                        <a [routerLink]="['/event', giftDrawing.event?.id, 'view' ]" >{{giftDrawing.event?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/gift-drawing', giftDrawing.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gift-drawing', giftDrawing.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gift-drawing', { outlets: { popup: giftDrawing.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
