<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="swg-gift-drawing-heading" jhiTranslate="swinGiftsApp.giftDrawing.home.createOrEditLabel">Create or edit a Gift Drawing</h2>
            <div>
                <swg-alert-error></swg-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="swinGiftsApp.giftDrawing.recipient" for="field_recipient">Recipient</label>
                    <select class="form-control" id="field_recipient" name="recipient" formControlName="recipient">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="participationOption.id === editForm.get('recipient').value?.id ? editForm.get('recipient').value : participationOption" *ngFor="let participationOption of participations; trackBy: trackParticipationById">{{participationOption.userAlias}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="swinGiftsApp.giftDrawing.donor" for="field_donor">Donor</label>
                    <select class="form-control" id="field_donor" name="donor" formControlName="donor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="participationOption.id === editForm.get('donor').value?.id ? editForm.get('donor').value : participationOption" *ngFor="let participationOption of participations; trackBy: trackParticipationById">{{participationOption.userAlias}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
