<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="swg-gift-drawing-heading" jhiTranslate="swinGiftsApp.giftDrawing.home.createOrEditLabel">Create or edit a Gift Drawing</h2>
            <div>
                <swg-alert-error></swg-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="swinGiftsApp.giftDrawing.recipient" for="field_recipient">Recipient</label>
                    <select class="form-control" id="field_recipient" name="recipient" formControlName="recipient">
                        <option *ngIf="!editForm.get('recipient').value" [ngValue]="null" selected></option>
                        <option [ngValue]="participationOption.id === editForm.get('recipient').value?.id ? editForm.get('recipient').value : participationOption" *ngFor="let participationOption of participations; trackBy: trackParticipationById">{{participationOption.userAlias}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('recipient').invalid && (editForm.get('recipient').dirty || editForm.get('recipient').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('recipient').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="swinGiftsApp.giftDrawing.donor" for="field_donor">Donor</label>
                    <select class="form-control" id="field_donor" name="donor" formControlName="donor">
                        <option *ngIf="!editForm.get('donor').value" [ngValue]="null" selected></option>
                        <option [ngValue]="participationOption.id === editForm.get('donor').value?.id ? editForm.get('donor').value : participationOption" *ngFor="let participationOption of participations; trackBy: trackParticipationById">{{participationOption.userAlias}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('donor').invalid && (editForm.get('donor').dirty || editForm.get('donor').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('donor').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="swinGiftsApp.giftDrawing.event" for="field_event">Event</label>
                    <select class="form-control" id="field_event" name="event" formControlName="event">
                        <option *ngIf="!editForm.get('event').value" [ngValue]="null" selected></option>
                        <option [ngValue]="eventOption.id === editForm.get('event').value?.id ? editForm.get('event').value : eventOption" *ngFor="let eventOption of events; trackBy: trackEventById">{{eventOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('event').invalid && (editForm.get('event').dirty || editForm.get('event').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('event').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
