<form (ngSubmit)="confirmParticipationSelection()">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="swinGiftsApp.event.selectParticipation.confirm.title">Confirm participation selection</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <swg-alert-error></swg-alert-error>
        <p jhiTranslate="swinGiftsApp.event.selectParticipation.confirm.question" [translateValues]="{userAlias: participation.userAlias}">Are you sure you want to use this participation?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-success">
            <fa-icon [icon]="'check'"></fa-icon>&nbsp;<span jhiTranslate="swinGiftsApp.event.selectParticipation.confirm.action">Confirm</span>
        </button>
    </div>
</form>
