<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="event">
            <h2>{{event.name}}</h2>
            <hr>
            <p class="lead">{{event.description}}</p>
            <swg-alert-error></swg-alert-error>
            <h3><span jhiTranslate="swinGiftsApp.event.detail.public.selectParticipation.title">Want to join in?</span></h3>
            <ng-container *ngIf="currentAccount">
                <p><span jhiTranslate="swinGiftsApp.event.detail.public.selectParticipation.explanations">Select your name</span></p>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let participation of event.participations">
                        <a (click)="confirmParticipationSelection(participation)">{{participation.userAlias}}</a>
                    </li>
                </ul>
                <p><span jhiTranslate="swinGiftsApp.event.detail.public.selectParticipation.explanationsNotInTheList">Not in the list? Enter your name:</span></p>
                <form name="newParticipationForm" role="form" novalidate (ngSubmit)="saveNewParticipation()" [formGroup]="newParticipationForm">
                    <div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="userAlias" id="field_userAlias"
                                   formControlName="userAlias"/>
                            <div *ngIf="newParticipationForm.get('userAlias').invalid && (newParticipationForm.get('userAlias').dirty || newParticipationForm.get('userAlias').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="newParticipationForm.get('userAlias').errors.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" id="save-entity" [disabled]="newParticipationForm.invalid || isSavingNewParticipation" class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </ng-container>
            <ng-container *ngIf="!currentAccount">
                <div class="alert alert-warning">
                    <span jhiTranslate="swinGiftsApp.event.detail.public.selectParticipation.explanationsNotConnected.prefix">You must </span>
                    <a class="alert-link" (click)="login()" jhiTranslate="swinGiftsApp.event.detail.public.selectParticipation.explanationsNotConnected.signInLink">sign in</a>
                    <span jhiTranslate="swinGiftsApp.event.detail.public.selectParticipation.explanationsNotConnected.middle"> or </span>
                    <a class="alert-link" routerLink="account/register" jhiTranslate="swinGiftsApp.event.detail.public.selectParticipation.explanationsNotConnected.registerLink">create an account</a>
                    <span jhiTranslate="swinGiftsApp.event.detail.public.selectParticipation.explanationsNotConnected.suffix"> in order to be able to join this event.</span>
                </div>
            </ng-container>
        </div>
    </div>
</div>
