<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="event">
            <h2>{{event.name}}</h2>
            <hr>
            <p class="lead">{{event.description}}</p>
            <swg-alert-error></swg-alert-error>
            <dl class="row-md jh-entity-details">
                <ng-container *ngIf="eventPublicUrl">
                    <dt><span jhiTranslate="swinGiftsApp.event.publicUrl">Public Url</span></dt>
                    <dd>
                        <span>{{eventPublicUrl}}</span>
                    </dd>
                </ng-container>
                <div class="alert alert-warning" role="alert" *ngIf="event.myGiftDrawingRecipients.length > 0">
                    <span jhiTranslate="swinGiftsApp.event.myGiftDrawingRecipients"></span>
                    <ul>
                        <li *ngFor="let recipient of event.myGiftDrawingRecipients">
                            <strong>{{recipient.userAlias}}</strong>
                        </li>
                    </ul>
                </div>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event', event.id, 'edit']"
                    class="btn btn-primary"
                    *ngIf="isEventAdmin()">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>

            <button type="button"
                    (click)="drawGifts()"
                    class="btn btn-primary"
                    *ngIf="isEventAdmin()">
                <fa-icon icon="dice"></fa-icon>&nbsp;<span jhiTranslate="swinGiftsApp.event.action.drawGifts"> Draw Gifts</span>
            </button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
