<h2>Participants</h2>
<div class="list-group">
    <li ng-repeat-start="wishList in wishLists" ng-init="person = wishList.person"
            class="list-group-item" ng-class="{'active': person.id === activePerson.id, 'disabled': !person.id, 'list-group-item-warning': wishList.isPersonParticipatesInCircleGift}"
            ng-click="activate(person)" ng-disabled="!person.id"  ng-show="!person.editing">
        {{person.name}}
        <span class="badge" ng-if="wishList.wishItemsCount > 0">{{wishList.wishItemsCount}}</span>
    </li>
    <form ng-repeat-end ng-show="person.editing" class="list-group-item">
        <div class="form-group">
            <label for="personName"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Nom à afficher</label>
            <input type="text" class="form-control" id="personName" ng-model="person.name" placeholder="Marie D.">
        </div>
        <div class="form-group">
            <label for="personEmail"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email</label>
            <input type="email" class="form-control" id="personEmail" ng-model="person.email" placeholder="prenom.nom@monserveur.fr">
        </div>
        <button type="submit" class="btn btn-default" ng-click="saveEditedPerson(wishList)">
            <span ng-if="!person.id"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter</span>
            <span ng-if="person.id"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Sauvegarder</span>
        </button>
        <button type="button" class="btn btn-default" ng-click="cancelEditedPerson(wishList)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Annuler</span>
        </button>
    </form>
    <button class="list-group-item btn-default" ng-click="addNewPerson()" ng-if="!newPerson.editing && (currentEvent.isOpened || myWishListForCurrentEvent.isPersonEventAdmin)">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Ajouter un nouveau participant
    </button>
    <button class="list-group-item btn-default" data-toggle="modal" data-target="#deleteActiveWishListModal" ng-if="activePerson && (currentEvent.isOpened || myWishListForCurrentEvent.isPersonEventAdmin)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Supprimer le participant sélectionné...
    </button>
    <div class="modal fade" id="deleteActiveWishListModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Suppression du participant</h4>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment supprimer {{activePerson.name}} de cet événement ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteActiveWishList()">Oui</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>