<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="drawingExclusionGroup">
            <h2><span jhiTranslate="swinGiftsApp.drawingExclusionGroup.detail.title">Drawing Exclusion Group</span> {{drawingExclusionGroup.id}}</h2>
            <hr>
            <swg-alert-error></swg-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="swinGiftsApp.drawingExclusionGroup.participation">Participation</span></dt>
                <dd>
                    <span *ngFor="let participation of drawingExclusionGroup.participations; let last = last">
                        <a [routerLink]="['/participation', participation?.id, 'view' ]">{{participation.userAlias}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="swinGiftsApp.drawingExclusionGroup.event">Event</span></dt>
                <dd>
                    <div *ngIf="drawingExclusionGroup.event">
                        <a [routerLink]="['/event', drawingExclusionGroup.event?.id, 'view']">{{drawingExclusionGroup.event?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/drawing-exclusion-group', drawingExclusionGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
