<div>
    <h2 id="page-heading">
        <span jhiTranslate="swinGiftsApp.drawingExclusionGroup.home.title">Drawing Exclusion Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-drawing-exclusion-group" [routerLink]="['/drawing-exclusion-group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="swinGiftsApp.drawingExclusionGroup.home.createLabel">
            Create a new Drawing Exclusion Group
            </span>
        </button>
    </h2>
    <swg-alert></swg-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="drawingExclusionGroups?.length === 0">
        <span jhiTranslate="swinGiftsApp.drawingExclusionGroup.home.notFound">No drawingExclusionGroups found</span>
    </div>
    <div class="table-responsive" *ngIf="drawingExclusionGroups?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="swinGiftsApp.drawingExclusionGroup.participation">Participation</span></th>
            <th><span jhiTranslate="swinGiftsApp.drawingExclusionGroup.event">Event</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let drawingExclusionGroup of drawingExclusionGroups ;trackBy: trackId">
                <td><a [routerLink]="['/drawing-exclusion-group', drawingExclusionGroup.id, 'view' ]">{{drawingExclusionGroup.id}}</a></td>
                <td>
                    <span *ngFor="let participation of drawingExclusionGroup.participations; let last = last">
                            <a class="form-control-static" [routerLink]="['/participation', participation?.id, 'view' ]">{{participation.userAlias}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="drawingExclusionGroup.event">
                        <a [routerLink]="['/event', drawingExclusionGroup.event?.id, 'view' ]" >{{drawingExclusionGroup.event?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/drawing-exclusion-group', drawingExclusionGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/drawing-exclusion-group', drawingExclusionGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/drawing-exclusion-group', { outlets: { popup: drawingExclusionGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
