<div class="row justify-content-center">
    <div class="col-md">
        <div *ngIf="participation">
            <h2><span jhiTranslate="swinGiftsApp.participation.detail.title">Participation</span> {{participation.userAlias}}</h2>
            <hr>
            <swg-alert-error></swg-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="swinGiftsApp.participation.nbOfGiftToReceive">Nb Of Gift To Receive</span></dt>
                <dd>
                    <span>{{participation.nbOfGiftToReceive}}</span>
                </dd>
                <dt><span jhiTranslate="swinGiftsApp.participation.nbOfGiftToDonate">Nb Of Gift To Donate</span></dt>
                <dd>
                    <span>{{participation.nbOfGiftToDonate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/participation', participation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
